version: "3.8"

services:
  app:
    build: .
    container_name: node_app
    ports:
      - "9000:3000"
    environment:
      - MONGO_URI=mongodb://mongo:27017/plantgram
    depends_on:
      - mongo
    volumes:
      - .:/app
    restart: always

  mongo:
    image: mongo:latest
    container_name: mongo_db
    restart: always
    ports:
      - "27019:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
